<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - The Movie Zone</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Roboto:wght@400;700&family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

  <style>
    html, body {
	    font-family: 'Nunito', sans-serif;
        background: #e8e8ef;
        padding: 0;
        margin: 0;
    }
    h1 {
	    font-family: 'Roboto', sans-serif;
    }
    h5 {
        font-weight: 300;
        margin: -12px 0 0 0;
        padding: 0;
        color: #555;
    }
    .fa-stack i.fa-star {
        color: #797686;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #bab6c9;
    }
    .fa-stack i.fa-star:hover, .fa-stack i.fa-star:active, .fa-stack.set i.fa-star, .fa-stack.hover i.fa-star {
        color: #7e26db;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #610eb4;
        cursor: pointer;
    }
    #get-recs {
        display: none;
        position: relative;
        background: #79589F;
        color: #FFF;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.5px;
        font-size: 13px;
        padding: 8px 12px;
        cursor: pointer;
        float: right;
        border-radius: 4px;
    }
    div#top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99999999;
    }
    header {
        position: relative;
        background: #FFF;
        margin: 0;
        padding: 20px;
        border-bottom: 1px solid #9381ff;
    }
    header.sub {
        border-bottom: 2px solid #aaa;
    }
    header h1 {
        font-family: 'Fredoka One', cursive;
        display: block;
        font-size: 32px;
        font-weight: normal;
        float: left;
        color: #610eb4;
        margin: 0;
        padding: 0;
    }
    header.sub h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        color: #79589F;
    }
    header.sub a.opt {
        display: block;
        margin-top: 4px;
        float: right;
        color: #79589F;
        font-style: italic;
        text-decoration: none;
    }
    nav {
        float: right;
    }
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    nav ul li {
        display: inline-block;
        margin: 9px 20px;
    }
    nav ul li a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.5px;
        color: #9381ff;
        font-size: 15.5px;

    }
    form.genre-select {
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }
    div.movie {
        float: left;
        height: 450px;
        width: 190px;
        text-align: center;
        padding: 12px 10px 0 10px;
    }
    section.content {
        margin-top: 150px;
        text-align: center;
    }
  </style>

  <meta name="theme-color" content="#fafafa">
</head>

<body>
<div id="top">
<header>
<h1>The Movie Zone</h1>
<nav>
  <ul>
      <li><a href="/">Genre Recommendations</a></li>
      <li><a href="/rate">Rating Recommendations</a></li>
  </ul>
</nav>
    <br clear="all">
</header>
    <header  class="sub">
        {% block header %}{% endblock %}
        <br clear="all">
    </header>
</div>
<section class="content">
  {% block content %}{% endblock %}
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</body>
