{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ genre }} Recommendations{% endblock %}</h1>
    <a class="opt" href="/">Select a Different Genre</a>
{% endblock %}

{% block content %}
    {% for movie in movies %}
        <div class="movie">
            <img src="/static/img/{{ movie['movie_id'] }}.jpg">
            <h4>{{ movie['name'] }}</h4>
            <h5>{{ movie['year'] }} | {{ '%0.1f' % movie['rating_avg'] }}/5.0 <span class="ratings">({{ movie['rating_count'] |int }} ratings)</span></h5>
        </div>
    {% endfor %}
{% endblock %}
