{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Select a Genre{% endblock %} to get Recommendations:</h1>
{% endblock %}

{% block content %}
  <form class="genre-select" method="post">
    <select id="genre-select" name="genre" onchange="onGenreSelectChanged()">
        <option name="">-- Select a Genre --</option>
    {% for genre in genres %}
        <option name="{{ genre }}">{{ genre }}</option>
    {% endfor %}
    </select>
  </form>
    <script>
    function onGenreSelectChanged(e) {
        var genre = $("#genre-select").val();
        window.location.href = '/genre/' + genre;
    }
    </script>
{% endblock %}
