{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Rate Movies{% endblock %} to get Recommendations:</h1>
    <div id="get-recs">Get My Recommendations</div>
{% endblock %}

{% block content %}
    {% for movie in movies %}
        <div class="movie">
            <img src="/static/img/{{ movie['movie_id'] }}.jpg">
            <h4>{{ movie['name'] }} ({{ movie['year'] }})</h4>
            <div class="star-row" data-movie-id="{{ movie['movie_id'] }}">
                <span class="fa-stack star1" data-star-num="1">
                    <i class="fa fa-fw fa-lg fa-star fa-stack-1x"></i>
                </span>
                <span class="fa-stack star2" data-star-num="2">
                    <i class="fa fa-fw fa-lg fa-star fa-stack-1x"></i>
                </span>
                <span class="fa-stack star3" data-star-num="3">
                    <i class="fa fa-fw fa-lg fa-star fa-stack-1x"></i>
                </span>
                <span class="fa-stack star4" data-star-num="4">
                    <i class="fa fa-fw fa-lg fa-star fa-stack-1x"></i>
                </span>
                <span class="fa-stack star5" data-star-num="5">
                    <i class="fa fa-fw fa-lg fa-star fa-stack-1x"></i>
                </span>
            </div>
        </div>
    {% endfor %}
    <form id="get-rec-form" method="post" action="/recommendations">
    </form>
    <script>
        var RATINGS = {},
        $getRecButton = $('#get-recs');
        $('.fa-stack').hover(function(e) {
            var rating = $(this).data('star-num');
            var $par = $(this).parent();
            for (var i = 1; i < 6; i++) {
                if (i > rating) {break;}
                $par.find('.star'+i).addClass('hover');
            }
        },
        function (e) {
            var $par = $(this).parent();
            for (var i = 1; i < 6; i++) {
                $par.find('.star'+i).removeClass('hover');
            }
        }).click(function(e) {
            $getRecButton.show();
            var $par = $(this).parent();
            var rating = $(this).data('star-num');
            var movieId = $par.data('movie-id');
            for (var i = 1; i < 6; i++) {
                $par.find('.star'+i).removeClass('hover').removeClass('set');
            }
            for (var i = 1; i < 6; i++) {
                if (i > rating) {break;}
                $par.find('.star'+i).addClass('set');
            }
            RATINGS[movieId] = rating;
        });
        $getRecButton.click(function() {
            var $f = $('form#get-rec-form');
            for (var k in RATINGS) {
                console.log(k);
                console.log(RATINGS[k]);
                $f.append('<input type="hidden" name="'+k+'" value="'+RATINGS[k]+'">');
            }
            $f.submit();
        });
    </script>
{% endblock %}
